/* Global Styles - Simply Smiles */

:root {
  --primary: #FFC904;
  --secondary: #FF7050;
  --tertiary: #4285f4;
  --brand: #EE5D24;
  --black: #000000;
  --white: #FFFFFF;
  --light: #FAFAFA;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: var(--black);
  background-color: var(--white);
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  cursor: pointer;
  font-family: inherit;
}
